# Dependencies:
# - celluloid
#
# Copyright (C) 2019 Rafael Cavalcanti - rafaelc.org
# Licensed under GPLv3
#

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=audio/*;video/*;
Actions=addToCelluloid;
X-KDE-Priority=TopLevel

[Desktop Action addToCelluloid]
Name=Enqueue on Celluloid
Name[nl]=Toevoegen aan Celluloid-wachtrij
Name[pt_BR]=Adicionar à fila do Celluloid
Exec=celluloid --enqueue %U
Icon=io.github.celluloid_player.Celluloid
