# Dependencies:
# - vlc
#
# Copyright (C) 2017-2020 Rafael Cavalcanti - rafaelc.org
# Licensed under GPLv3

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=audio/*;video/*;
Actions=addToVlc;
X-KDE-Priority=TopLevel

[Desktop Action addToVlc]
Name=Add to VLC playlist
Name[fr_FR]=Ajouter à la liste de lecture de VLC
Name[hr_HR]=Dodaj na popis za reproduciranje
Name[nl]=Toevoegen aan VLC-afspeellijst
Name[pt_BR]=Adicionar à playlist do VLC
Name[ru_RU]=Добавить в плейлист VLC
Exec=vlc --no-playlist-autostart --one-instance --playlist-enqueue %U
Icon=vlc-panel
