# Dependencies: my convert-video script and kdialog
#
# Author: Rafael Cavalcanti <rccavalcanti at gmail dot com>
#

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/*;
Actions=toMp4;toSmall480;toSmallSame;removeAudio;concat;
X-KDE-Priority=TopLevel
X-KDE-Submenu=Convert video
X-KDE-Submenu[pt_BR]=Converter vídeo

[Desktop Action toMp4]
Name=MP4
Exec=convert-video --to-mp4 %U || kdialog --error "Error converting %U."

[Desktop Action toSmall480]
Name=Small file for mobile (480p)
Name[pt_BR]=Arquivo pequeno para celular (480p)
Exec=convert-video --to-small-480 %U || kdialog --error "Error converting %U."

[Desktop Action toSmallSame]
Name=Small file for mobile (same resolution)
Name[pt_BR]=Arquivo pequeno para celular (mesma resolução)
Exec=convert-video --to-small-same %U || kdialog --error "Error converting %U."

[Desktop Action removeAudio]
Name=Remove audio
Name[pt_BR]=Remover áudio
Exec=convert-video --mute %U || kdialog --error "Error converting %U."

[Desktop Action concat]
Name=Concatenate
Name[pt_BR]=Concatenar
Exec=convert-video --concat %U || kdialog --error "Error converting %U."
