# Dependencies:
# - convert-video <https://github.com/rccavalcanti/scripts/blob/master/general/convert-video>
# - kdialog
#
# Copyright 2017 Rafael Cavalcanti <rccavalcanti@gmail.com>
#

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/*;
Actions=toMp4;toSmall;toSmallGa;removeAudio;concat;
X-KDE-Priority=TopLevel
X-KDE-Submenu=Convert video
X-KDE-Submenu[pt_BR]=Converter vídeo

[Desktop Action toMp4]
Name=To MP4
Name[pt_BR]=Para MP4
Name[ru_RU]=В MP4
Name[hr_HR]=U MP4
Exec=convert-video --to-mp4 %U || kdialog --error "Error converting %U."

[Desktop Action toSmall]
Name=To small file
Name[pt_BR]=Para arquivo pequeno
Name[ru_RU]=В небольшой файл
Name[hr_HR]=U malu datoteku
Exec=convert-video --to-small %U || kdialog --error "Error converting %U."

[Desktop Action toSmallGa]
Name=To small file (good audio)
Name[pt_BR]=Para arquivo pequeno (bom áudio)
Name[ru_RU]=В небольшой файл (хороший звук)
Name[hr_HR]=U malu datoteku (dobar zvuk)
Exec=convert-video --to-small-ga %U || kdialog --error "Error converting %U."

[Desktop Action removeAudio]
Name=Remove audio
Name[pt_BR]=Remover áudio
Name[ru_RU]=Удалить звук
Name[hr_HR]=Ukloni zvuk
Exec=convert-video --mute %U || kdialog --error "Error converting %U."

[Desktop Action concat]
Name=Concatenate
Name[pt_BR]=Concatenar
Name[ru_RU]=Объединить
Name[hr_HR]=Poveži
Exec=convert-video --concat %U || kdialog --error "Error converting %U."
