# Dependencies:
# - xsel
#
# Copyright (C) 2017-2020 Rafael Cavalcanti - rafaelc.org
# Licensed under GPLv3

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/octet-stream;inode/directory
Actions=copyPath;
X-KDE-Priority=TopLevel

[Desktop Action copyPath]
Name=Copy path
Name[de_DE]=Pfad kopieren
Name[hr_HR]=Kopiraj put
Name[nl]=Locatie kopiëren
Name[pt_BR]=Copiar caminho
Name[ru_RU]=Копировать путь
Exec=printf %U | xsel -b -i
Icon=edit-copy
