# Dependencies: xsel
#
# Author: Rafael Cavalcanti <rccavalcanti at gmail dot com>
#

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/octet-stream;inode/directory
Actions=copyPath;
X-KDE-Priority=TopLevel

[Desktop Action copyPath]
Name=Copy path
Name[pt_BR]=Copiar caminho
Exec=printf %U | xsel -b -i
